<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Segmentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
    img{
        width : 90%;
        height: 300px;
    }
    .col-sm-4{
        padding: 30px;
    }
    .heading{
        font-weight: 100;
        font-size: 4em;
        text-shadow: 1px 1px 5px black;
    }
</style>
</head>
<body>
    
    <div class="jumbotron ">
        <div class="container">
            <h1 class="heading">Dominant Color for Image Segmentation</h1> 
            <p>Upload your Image and choose number of colors for the image</p> 
        </div>
    </div>
    <!-- <form action="/" enctype="multipart/form-data" method="POST">
        &nbsp;&nbsp;<input name="file" type="file"  class="form-control"/> &nbsp;&nbsp;
        &nbsp;&nbsp;<input type="number" name="number" style="width:25%;" placeholder="Number of Colours" class="form-control"/> &nbsp;&nbsp;
        &nbsp;&nbsp;<input type="submit" class="btn btn-outline-primary">
    </form> -->

    <div class="container">

        
        <form class="form-inline" action="/" enctype="multipart/form-data" method="POST">
            <label for="image"><b>Image: &nbsp;&nbsp; </b></label>
            <input type="file" class="form-control" id="image" name="file" type="file" >

            <label for="number"> <b> &nbsp;&nbsp; Number: &nbsp;&nbsp; </b> </label>
            <input type="number" minlength=1 maxlength=10 name="number"  placeholder="Number of Colours" class="form-control" id="number">

            <button type="submit" class="btn btn-primary"> Submit</button>
        </form>



        {% if results %}

        <div class="row">
            {% for value in results.image %}
                    <div class="col-sm-4">
                        <center>
                            <h1>{{results.title[loop.index-1]}}</h1>
                            <br>
                            <img src="{{value}}"/>
                        </center>
                    </div>        
            {% endfor %}
        </div>
        
        {% endif %}

        
    </div>
</body>
</html>